cvlib==0.2.6
pixellib==0.6.6
xlrd==2.0.1 # To read excel files with pandas
openpyxl==3.0.7 # To read exel files with pandas
seaborn==0.11.1
scikit-multilearn==0.2.0 # For multy label 
tqdm==4.61.1
requests==2.25.1
html5lib==1.1
beautifulsoup4==4.9.3
pydot==1.4.2
pyntcloud==0.1.4 # Point cloud toolbox
keras-ocr==0.8.7 # simple OCR, always usefull
pytesseract==0.3.8 # better OCR
tensorflow-probability==0.13.0
imgaug==0.4.0 # Image augmentation
nltk==3.6.2 # NLP tools
textblob==0.15.3 # NLP tools
pdf2image
textdistance==4.2.1 # Lots of text distance metrics
tensorflow-text==2.5.0 # tensorflow nlp
tf-models-official==2.5.0 # official tensorflow models repo
tabula-py==2.3.0
PyPDF2==1.26.0
