cvlib
pixellib
xlrd # To read exel files with pandas
openpyxl # To read exel files with pandas
seaborn
scikit-multilearn # For multy label 
tqdm
requests
html5lib
BeautifulSoup4
pydot
pyntcloud # Point cloud toolbox
keras-ocr # simple OCR, always usefull
pytesseract # better OCR
tensorflow_probability
imgaug # Image augmentation
nltk # NLP tools
textblob # NLP tools
